<h1>Counter</h1>

<p class="e-card">Current count: @currentCount (using Bootstrap theme from SyncFusion)</p>

<BlazorSharedRazorClassLibrary1.Component1 />

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}